.contact {
  background-color: white;
  padding: 42px 0;
}

.contact__content {
  padding: 0px 20px 0px 20px;
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  background-color: #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.contact__button:hover {
  background-color: #fc7341;
}

@media (min-width: 768px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .contact__content {
    padding: 0px 20px 20px 20px;
  }
}
